@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Criador @ViewData["Criador"]</p>
<address>

    <stong>
        Mais informações em https://github.com/joomoraes/Programa_ASPNET.CORE-MVC
    </stong>

</address>